main {
  flex-grow: 1;
  width: 90%;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.introduction_name {
  font-size: 2em;
  margin-bottom: 1em;
  border-bottom: 3px solid rgb(211, 204, 204);
}

.introduction {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.requisite {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;  
}

.requisite>p {
  margin: .6em;
}

.map {
  flex-grow: 2;
}

iframe {
  height: 100%;
  width: 100%;
}