main {
  width: 90%;
  margin-top: 2em;
  margin-bottom: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navCategory {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.navCategory a:first-of-type {
  border: 2px solid rgb(211, 204, 204);
}

.category_nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  border-left: 2px solid rgb(211, 204, 204);
  border-bottom: 2px solid rgb(211, 204, 204);
  border-right: 2px solid rgb(211, 204, 204);
}

.category_nav_link:hover .category_nav_discription {
  color: brown;
}

.category_nav_link:hover .category_nav_arrow {
  visibility: visible;
}

.category_nav_discription {
  margin: .8em;
  color: rgb(61, 59, 59);
}

.category_nav_arrow {
  visibility: hidden;
  font-size: 1.8em;
  font-weight: 900;
  margin-right: .3em;
  color: brown;
}

.category {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category_link {
  width: 22%;
  height: 40%;
  margin: .5em;
  border: 1.5px solid rgb(211, 204, 204);
  border-radius: 4%;
}

.category_link:hover {
  border: 1.5px solid rgb(156, 153, 153);
}

.categoryBackground {
  width: 100%;
  height: 80%;
  background-origin: padding-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.clothes {
  background-image: url(../pictures/clothes.png);
}

.boots {
  background-image: url(../pictures/boots.png);
}

.glasses {
  background-image: url(../pictures/glasses.png);
}

.helmet {
  background-image: url(../pictures/helmet.png);
}

.respirator {
  background-image: url(../pictures/respirator.png);
}

.gloves {
  background-image: url(../pictures/gloves.png);
}

.headphone {
  background-image: url(../pictures/headphone.png);
}

.slings {
  background-image: url(../pictures/slings.png);
}

.discription {
  height: 20%;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(61, 59, 59);
  border-top: 1.5px solid rgb(211, 204, 204);
}

.category_link:hover .discription {
  border-top: 1.5px solid rgb(156, 153, 153);
  color: brown;
}