main {
  flex-grow: 1;
  width: 90%;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
  
.name {
  font-size: 2em;
  margin-bottom: 1em;
  border-bottom: 3px solid rgb(211, 204, 204);
}
  
.sales {
  display: flex;
  justify-content: space-around;
}