html, body {
  height: 100%;
  width: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

header {
  height: 10%;
  width: 100%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(211, 204, 204);
}

.header_logo p {
  font-size: 2.16em;
  font-weight: 900;
  margin: 5px;
  color: brown;
}

.header_logo {
  /*background-color: rgb(211, 204, 204);*/
  border: 1px solid rgb(107, 28, 28);
  border-radius: 30% 30%;
}

.header_contact {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_contact .telephone {
  font-weight: 900;
  color: rgb(61, 59, 59);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.A1 {
  margin: 5px;
  font-weight: 900;
  color: yellow;
  text-shadow: black 1px 1px 1px;
}

.MTC {
  margin: 5px;
  color: red;
  text-shadow: black 0.5px 0.5px 1px;
}

.header_nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.header_nav a {
  color: rgb(61, 59, 59);
  margin-left: 15px;
  padding-top: 5%;
  padding-left: 5px;
  border-left: 3px solid rgb(211, 204, 204);
}

.header_nav a:hover {
  color: rgb(192, 36, 36);
  border-left: 3px solid rgb(192, 36, 36);
}


main {
  width: 80%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_slide {
  width: 60%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.slide_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  transition: transform 2s ease;    
}

.slide_item {
  position: relative;
  flex: 0 0 100%; /* quantity current slides 1 (if 50% will be 2) */
  max-width: 100%; /* quantity current slides 1 (if 50% will be 2) */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: transform 2s ease 2s;
   
  background-color: rgb(193, 226, 144);
  border: 1px solid red;
}

.slide_control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 3;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}




.main_items {
  width: 35%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

.main_items .item {
  width: 40%;
  height: 38%;
  border: 1px solid rgb(211, 204, 204);
}

footer {
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  border-top: 3px solid rgb(211, 204, 204);
}