html, body {
  height: 100%;
  width: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

header {
  height: 10%;
  width: 100%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(211, 204, 204);
}

.header_logo p {
  font-size: 2.16em;
  font-weight: 900;
  margin: 5px;
  color: brown;
}

.header_logo {
  /* border: 1px solid rgb(107, 28, 28);
  border-radius: 30% 30%; */
}

.header_contact {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_contact .telephone {
  font-weight: 900;
  color: rgb(61, 59, 59);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.A1 {
  margin: 5px;
  font-weight: 900;
  color: yellow;
  text-shadow: black 1px 1px 1px;
}

.MTC {
  margin: 5px;
  color: red;
  text-shadow: black 0.5px 0.5px 1px;
}

.header_nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.header_nav a {
  color: rgb(61, 59, 59);
  margin-left: 15px;
  padding-top: 5%;
  padding-left: 5px;
  border-left: 3px solid rgb(211, 204, 204);
}

.header_nav a:hover {
  color: rgb(192, 36, 36);
  border-left: 3px solid rgb(192, 36, 36);
}


main {
  width: 80%;
  margin-top: 2em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wrappeMainSlide_MainItems {
  display: flex;
  width: 100%;
  height: 70%;
}

.main_slide {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main_slide_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  transition: transform 1s ease;    
}
.main_slide_item {
  position: relative;
  flex: 0 0 100%; /* quantity current slides 1 (if 50% will be 2) */
  max-width: 100%; /* quantity current slides 1 (if 50% will be 2) */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: transform 0.1s ease 1s;
  
  background-color: rgb(193, 226, 144);
}

.main_slide_control {
  font-size: 2.2em;
  font-weight: 900;
  color: antiquewhite;
  background-color: rgba(107, 28, 28, .2);
  cursor: pointer;
  position: absolute;
  top: 45%;
  z-index: 3;
}

.main_slide_control:hover {
  color: aliceblue;
  background-color: rgba(107, 28, 28, .4);
}

.main_leftArrow {
  left: .1em;
}

.main_rightArrow {
  right: .1em;
}

.main_items {
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: stretch;
}

.main_items .item {
  width: 50%;
  border: 1px solid rgb(211, 204, 204);
}

.category_slide {
  width: 100%;
  height: 30%;
}

.category_slide_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

footer {
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  border-top: 3px solid rgb(211, 204, 204);
}